{
 "openapi": "3.0.1",
 "info": {
  "title": "Decryptx External Api",
  "description": "# Overview\nThe purpose of the Decryptx management APIs are to provide Decryptx\nPartners and Key Injection Facilities (KIFs) a way to integrate their services\nto the Decryptx Platform. These APIs allow them to integrate P2PE Manager functionality into\ntheir own services, therefore providing their merchants an alternative to\nthe P2PE Manager for common tasks.\n\n### Deleting Resource\nWith the Management APIs, as with the P2PE Manager, once a resource has been utilized it cannot be deleted. For example, if a user has logged into the system even once they cannot be deleted. Instead of deleting resources that have been deleted, they shhould be set to inactive.\n\n### Transactions endpoints\nThe transaction endpoints are included in the Management APIs for Partners that have their own (Domain 5) P2PE compliant decryption environment and who wish to use our platform to manage their partners, merchants and devices. Our transactions endpoints allow Partners journal their decryption activity into the P2PE Manager, allowing the Partner to utilize the device management and chain-of-custody functionality of the P2PE Manager. Even when decryptions occur outside of the Decryptx system, the Partner's Client can still benefit from the P2PE Manager's device management, chain of custody, and historical decryption activity logs functionality.\n\n# Authentication\nAll calls to our Management APIs support basic and HMAC authentication. For instruction of how to implement HMAC please refer to the guide on our developer portal (https://developers.bluefin.com/p2pe-manager/apiguides/hmac).\n\nBasic authentication is a simple authentication scheme built into the HTTP protocol, the client sends HTTP requests with an Authorization header that contains the word *'Basic'*, followed by a space and a base64-encoded string username:password. For example, for the username and password, user and password, the authentication header is as follows:\n~~~\n//Authorization: Basic base64(user:pasword)\n~~~\nOutput:\n~~~\nAuthorization: Basic dXNlcjpwYXNzd29yZA==\n~~~\nThe Management accept the same usernames and passwords from the P2PEManager; importantly, access to respourse are limited based on the user role. A KIF user can access number of API endpoints that the Patner user cannot and vice versa. On the other hand, there are a number of APIs that are common to both types of Users.\n\n\n### Partner User Access\nThe following table outlines the REST operations that a Partner user can access. Client level users are not allowed to integrate with theses APIs, instead these APIs are designed so that the Client's Partner would integrate functionality to their service. That design decision has resulted in the Partners having increased access to P2PE resources on the APIs when compared to the P2PEManager GUI. For example, a Partner can alter a device's state with the Management APIs, whereas they cannot on the P2PE Manager GUI.\n\n| EndPoint             | GET (all) | POST | GET (Single) | PATCH | DELETE |\n|----------------------|:---------:|:----:|:------------:|:-----:|:------:|\n| /api/v1/users        |     \u2714     |   \u2714  |       \u2714      |   \u2714   |   \u2714*   |\n| /api/v1/partners     |     \u2714     |   \u2714  |       \u2714      |   \u2714   |        |\n| /api/v1/clients      |     \u2714     |   \u2714  |       \u2714      |   \u2714   |        |\n| /api/v1/decryption   |           |   \u2714  |              |       |        |\n| /api/v1/devices      |     \u2714     |   \u2714  |       \u2714      |   \u2714   |   \u2714*   |\n| /api/v1/deviceBuilds |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/deviceTypes  |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/deviceStates |     \u2714     |      |              |       |        |\n| /api/v1/devices/{serial}/{type}/custody  |     \u2714     |   \u2714   |       \u2714      |       |        |\n| /api/v1/locations    |     \u2714     |   \u2714  |       \u2714      |   \u2714   |   \u2714*   |\n| /api/v1/shipments    |           |      |              |       |        |\n| /api/v1/attestations |     \u2714     |   \u2714  |       \u2714      |       |        |\n| /api/v1/transactions |     \u2714     |   \u2714  |       \u2714      |   \u2714   |        |\n| /api/v1/kifs         |     \u2714     |      |              |       |        |\n| /api/v1/injectkeys   |           |      |              |       |        |\n| /api/v1/virtualDevices/{partner}   |           |   \u2714   |       \u2714       |       |    \u2714    |\n* A resource that has been used one or more times cannot be deleted.\n\n\n### KIF User Access\nThe following table outlines the subset of Management APIs that a KIF user can access. Within this subset, some resources will only appear if they are in a particular state. For example, a Device will appear in the GET all endpoint if its deviceState is set to Unassigned, Assigned, or Injected. Once it is received by the merchant and set to *'stored'* or *'activating'* it will no longer appear on the GET all devices response for the originating KIF.\n\n\n| Endpoint             | GET (all) | POST | GET (Single) | PATCH | DELETE |\n|----------------------|:---------:|:----:|:------------:|:-----:|:------:|\n| /api/v1/users        |     \u2714     |   \u2714  |       \u2714      |   \u2714   |   \u2714*   |\n| /api/v1/partners     |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/clients      |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/decryption   |           |   \u2714  |              |       |        |\n| /api/v1/devices      |     \u2714     |   \u2714  |       \u2714      |       |        |\n| /api/v1/deviceBuilds |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/deviceTypes  |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/deviceStates |     \u2714     |      |              |       |        |\n| /api/v1/devices/{serial}/{type}/custody  |           |       |              |       |        |\n| /api/v1/locations    |     \u2714     |   \u2714  |       \u2714      |   \u2714   |   \u2714*   |\n| /api/v1/shipments    |     \u2714     |   \u2714  |       \u2714      |   \u2714   |        |\n| /api/v1/attestations |           |      |              |       |        |\n| /api/v1/transactions |           |      |              |       |        |\n| /api/v1/kifs         |     \u2714     |      |              |       |        |\n| /api/v1/injectkeys   |     \u2714     |      |       \u2714      |       |        |\n| /api/v1/virtualDevices/{partner}   |           |       |               |       |         |\n* A resource that has been used one or more times it cannot be deleted.\n",
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://apis.p2pemanager.com/api/v1"
  },
  {
   "url": "http://apis.p2pemanager.com/api/v1"
  }
 ],
 "security": [
  {
   "basic": []
  }
 ],
 "tags": [
  {
   "name": "Users",
   "description": "The User APIs are used by both KIFs and Partners to manage their users. The APIs allow them to create, read, update, and delete Users. Partners can also manage Users on behalf of their Clients."
  },
  {
   "name": "Devices",
   "description": "Devices are P2PE enabled Payment terminals and card readers. Typically, Devices are added by the KIF user. Once they have injected them with a key, they are shipped to the Client."
  },
  {
   "name": "Partners",
   "description": "Partners are an entity that refers, sets up, or supports clients who are processing on Bluefin\u2019s P2PE platform. A Partner could be Software Provider, a merchant account sales office, a payment gateway, or a reseller of payment gateway. A Sub Partner account can be used as an organization construct to group Clients. For example, a Partner may want to create a (sub) Partner to group together 10 Clients so they are grouped for reporting purposes."
  },
  {
   "name": "Clients",
   "description": "Clients are merchants who process P2PE transactions. Our Clients APIs allow a Partner to create, read, update and delete their clients. While it is not possible for a Client to integrate with these Management APIs themselves, they can manage shipping, devices, and attestations through the P2PE Manager GUI application. KIF users can read (GET) Clients, however only Partner users can create and alter (POST and PATCH) them."
  },
  {
   "name": "Locations",
   "description": "According to PCI rules a record of every P2PE Device must be kept as it is shipped to a Person at a Location. Our set of Location APIs allow a Partner to manage Locations for their Clients. Depending on how a Partner want, their reporting and access control organised, they can set up a Client to can have multiple Locations or they can create a Client per location."
  },
  {
   "name": "Shipments",
   "description": "In order to adhere to PCI rules, the shipment of P2PE Devices from the KIF to the Client must be logged and tracked. Our Shipment APIs allow a KIF and Partner user record their Shipments."
  },
  {
   "name": "Attestations",
   "description": "The attestations APIs allow a Partner to manage the on-site PCI DSS compliance assessments on behalf of their Clients. The Partner can create and read attestations through the API. Attestations cannot be deleted. Kif users do not have permission to access the Attestation."
  },
  {
   "name": "Transactions",
   "description": "The transaction endpoints are included in the Management APIs for Partners that have their own (Domain 5) P2PE compliant decryption environment and who wish to use our platform to manage their partners, merchants and devices. Our transactions endpoints allow Partners journal their decryption activity on the P2PE Manager."
  },
  {
   "name": "Inject Keys",
   "description": "Decryptx supports a number of P2PE (and non-P2PE) keys. When creating a Device, it is important that a KIF user tracks the key that is injected. Therefore, we we provide two read only API endpoints that list them for KIF users. One will return a list of decryption keys and the other will return the complete details from an individual device."
  },
  {
   "name": "Device Types",
   "description": "In order to create a Device, it must contain a reference to a Device Type resource. The Device Type APIs list the supported device types. The information available includes the name of the Device manufacturer and the device model."
  },
  {
   "name": "Device States",
   "description": "The Device States API list the supported state names and their ID."
  },
  {
   "name": "Device Builds",
   "description": "The Device Builds API list the supported device builds. When creating a Device entry a Device Build must be specified."
  },
  {
   "name": "Device Custody",
   "description": "The Device Custody APIs allow a Partner update a Device's location and custodian."
  },
  {
   "name": "Kifs",
   "description": "The KIF APIs list the registered KIFs and their ID."
  },
  {
   "name": "Virtual Devices",
   "description": "Virtual Devices are Devices that a Partner shared with another Partner."
  }
 ],
 "paths": {
  "/users": {
   "get": {
    "tags": [
     "Users"
    ],
    "summary": "List all Users",
    "description": "This endpoint returns a summarised list of all Users assigned to a Partner's account. To view a User's complete dataset, a call must be made to the get a single User endpoint. By default, Users from sub-partner accounts are automatucally included. A partner can lookup a Client's Users by including the client id or name as a request parameter. Other filters will limit the Users in the response by Partner or KIF. Use the *'skip'* and *'take'* parameters to implement pagination.",
    "operationId": "list-users",
    "parameters": [
     {
      "name": "partner",
      "in": "query",
      "description": "Filter the list by Partner. The parameter value can be either the Partner's ID or Name.",
      "schema": {}
     },
     {
      "name": "client",
      "in": "query",
      "description": "Filter the list by Client. The parameter value can be either the Client's ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "kif",
      "in": "query",
      "description": "Filter the list by KIF. The parameter value can be either the KIF's ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Users list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Users"
    ],
    "summary": "Create a User",
    "description": "This endpoint creates a User for either a Partner, a KIF, or a Client. To create a User for a KIF, a reference to the KIF must be included in the API call, to create a user for a Client, both the Partner and Client references must be included.",
    "operationId": "create-user",
    "requestBody": {
     "description": "User to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/UserCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "User create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "user"
   }
  },
  "/users/{id}": {
   "get": {
    "tags": [
     "Users"
    ],
    "summary": "Get a single User",
    "description": "This endpoint returns an object that contains all the User's details.",
    "operationId": "get-user",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The User's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "User details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UserDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Users"
    ],
    "summary": "Delete a User",
    "description": "This endpoint deletes a User resource. Deleting User reources is only possible if the User has not logged into the P2PE Manger. If the User resource is sucessfully deleted the response body will contain an empty object.",
    "operationId": "delete-user",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The unique identifier of the User to delete.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "User has been deleted successfully.",
      "content": {}
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Users"
    ],
    "summary": "Update a User",
    "description": "This endpoint updates an existing User resource. It is not neccessary to include the complete replacement object in the API call; an object containing the properties that are to be changed will suffice.",
    "operationId": "update-user",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The unique identifier of the User to update.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The User resource to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/UserUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "User update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "user"
   }
  },
  "/partners": {
   "get": {
    "tags": [
     "Partners"
    ],
    "summary": "List all Partners",
    "description": "This endpoint returns a summarised list of Partners and Sub-Partners. The list of partners can be filtered by including the partner ID in the request parameters. When a KIF user makes an API call to this endpoint, the complete list of Partners are returned. However, when a Partner User makes the same API call, the results are restriced to their Partner account and Sub-Partners.",
    "operationId": "list-partners",
    "parameters": [
     {
      "name": "partner",
      "in": "query",
      "description": "Filter the list by Partner. The parameter value can be either a Partner ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Partners list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PartnerList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Partners"
    ],
    "summary": "Create a Partner",
    "description": "This will let a Partner create a (sub) Partner. When creating a Partner, a contact and location must also be created. A parent Partner account must also be referenced.",
    "operationId": "create-partner",
    "requestBody": {
     "description": "Partner to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/PartnerCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Partner create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "partner"
   }
  },
  "/partners/{id}": {
   "get": {
    "tags": [
     "Partners"
    ],
    "summary": "Get a single Partner",
    "description": "This endpoint returns an object that contains all the Partner's details.",
    "operationId": "get-partner",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Partner's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Partner details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/PartnerDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Partners"
    ],
    "summary": "Update a Partner",
    "description": "This endpoint updates an existing Partner resource. It is not neccessary to include the complete replacement object in the API call; an object containing the properties that are to be changed will suffice.",
    "operationId": "update-partner",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Partner's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Partner to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/PartnerUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Partner update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "partner"
   }
  },
  "/clients": {
   "get": {
    "tags": [
     "Clients"
    ],
    "summary": "List all Clients",
    "description": "This endpoint returns a summarised list of Clients. The list of Clients can be filtered by including the partner ID in the request parameters.",
    "operationId": "list-clients",
    "parameters": [
     {
      "name": "partner",
      "in": "query",
      "description": "Filter the list by Partner. The parameter value can be either a Partner ID or Name.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Clients list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ClientList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Clients"
    ],
    "summary": "Create a Client",
    "description": "This endpoint allows a Partner create a Client resource. When creating a Client, a contact and location must also be created. A parent or direct Partner account must also be referenced.",
    "operationId": "create-client",
    "requestBody": {
     "description": "Client to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/ClientCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Client create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "client"
   }
  },
  "/clients/{id}": {
   "get": {
    "tags": [
     "Clients"
    ],
    "summary": "Get a single Client",
    "description": "This endpoint returns an object that contains all the Client's details.",
    "operationId": "get-client",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Client's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Client details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ClientDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Clients"
    ],
    "summary": "Delete a Client",
    "description": "This endpoint deletes a User resource. Deleting a Client resource is only possible if no devices have been shipped/deployed to the Client. Once a Client has a device history, their deletion is not possible.",
    "operationId": "delete-client",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Client's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Client has been deleted successfully",
      "content": {}
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Clients"
    ],
    "summary": "Update a Client",
    "description": "This endpoint updates an existing Client resource. It is not neccessary to include the complete replacement object in the API call; an object containing the properties that are to be changed will suffice.",
    "operationId": "update-client",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Client's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Client to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/ClientUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Client update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "client"
   }
  },
  "/locations": {
   "get": {
    "tags": [
     "Locations"
    ],
    "summary": "Get all Locations",
    "description": "This endpoint returns a List of Locations. The list can be filtered by Client.",
    "operationId": "list-location",
    "parameters": [
     {
      "name": "client",
      "in": "query",
      "description": "Filter the list by Client. The parameter value can be either a Client ID or Name.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Locations list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LocationList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Locations"
    ],
    "summary": "Create a Location",
    "description": "This endpoint allows a Partner user create a Location for a Client.",
    "operationId": "create-location",
    "requestBody": {
     "description": "Location to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/LocationCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Location create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "location"
   }
  },
  "/locations/{id}": {
   "get": {
    "tags": [
     "Locations"
    ],
    "summary": "Read a Location",
    "description": "This endpoint returns a single Location.",
    "operationId": "get-location",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Location's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Location details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LocationDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Locations"
    ],
    "summary": "Delete a Location",
    "description": "This endpoint deletes a Location resource. Deleting a Location is only possible if no devices have been shipped/deployed to that Location. Once a Location has a device history, it cannot be deleted.",
    "operationId": "delete-location",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Location's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Location has been deleted successfully",
      "content": {}
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Locations"
    ],
    "summary": "Update a Location",
    "description": "This endpoint updates an existing Location resource. It is not neccessary to include the complete replacement object in the API call; an object containing the properties that are to be changed will suffice. For example, this endpoint can be used to change the Location affiliated with a particular Client.",
    "operationId": "update-location",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Location's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Location to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/LocationUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Location update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "location"
   }
  },
  "/shipments": {
   "get": {
    "tags": [
     "Shipments"
    ],
    "summary": "List all Shipments",
    "description": "This endpoint returns a list of Shipments.",
    "operationId": "list-shipments",
    "parameters": [
     {
      "name": "kif",
      "in": "query",
      "description": "Filter the list by KIF. The parameter value can be either a KIF ID or Name.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "mode",
      "in": "query",
      "description": "Filter the list by shipment mode.",
      "schema": {
       "type": "string",
       "enum": [
        "inTransit",
        "received"
       ]
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Shipments list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ShipmentList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Shipments"
    ],
    "summary": "Create a Shipment",
    "description": "This endpoint creates a Shipment. It is utilized by the KIF user when shipping Devices to a Client. The shipment can contain multiple Devices. Each Device will have its tamper label and serial recorded as part of the shipment.",
    "operationId": "create-shipment",
    "requestBody": {
     "description": "Shipment to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/ShipmentCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Shipment create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "shipment"
   }
  },
  "/shipments/{id}": {
   "get": {
    "tags": [
     "Shipments"
    ],
    "summary": "Get a single Shipment",
    "description": "This endpoint returns a single Shipment.",
    "operationId": "get-shipment",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Shipment's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Shipment details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ShipmentDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Shipments"
    ],
    "summary": "Update a Shipment",
    "description": "This endpoint updates an existing Shipment resource. It allows the KIF user to update the carriers tracking number and the shipping date. This endpoint is designed to allow a KIF to update a shipment's details before it is shipped. It is not designed for a Client to record their receiving of a shipment. That can only be performed on the P2PE Manager GUI.",
    "operationId": "update-shipment",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Shipment's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Shipment to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/ShipmentUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Shipment update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "shipment"
   }
  },
  "/attestations": {
   "get": {
    "tags": [
     "Attestations"
    ],
    "summary": "List all Attestation",
    "description": "This endpoint lists Attestations based upon the filter criteria.",
    "operationId": "list-attestations",
    "parameters": [
     {
      "name": "client",
      "in": "query",
      "description": "Filter the list by Client. The parameter value can be either a Client ID or Name.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Attestations list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AttestationList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Attestations"
    ],
    "summary": "Create an Attestation",
    "description": "Allows the partner to POST information to the P2PE Manager.  This will allow the Partner to build an attestation UI for their Clients (Merchants).",
    "operationId": "create-attestation",
    "requestBody": {
     "description": "Attestation to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/AttestationCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Attestation create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AttestationCreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "attestation"
   }
  },
  "/attestations/{id}": {
   "get": {
    "tags": [
     "Attestations"
    ],
    "summary": "Get a single Attestation",
    "description": "This will return the detailed information on any individual attestation.",
    "operationId": "get-attestation",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Attestation's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Attestation details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AttestationDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/transactions": {
   "get": {
    "tags": [
     "Transactions"
    ],
    "summary": "List all Transactions",
    "description": "This endpoint returns a list of Transactions. The list can be filtered by a number of Transaction properties.\n\nBy default the paging.mode is set to nocount, this means that the list total count will not be included in the response. Setting the paging.mode parameter to full will enable the total count. However, we urge Partners to exercise caution when including the total count on the Transaction list endpoint. The total number of Transactions can grow significantly and counting them can become taxing on the system. Paging.mode full is likely to result in high latency, therefore we suggest that you adopt a pagination strategy that does not require the total count.",
    "operationId": "list-transactions",
    "parameters": [
     {
      "name": "partner",
      "in": "query",
      "description": "Filter the list by Partner. The parameter value can be either a Partner ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "client",
      "in": "query",
      "description": "Filter the list by Client. The parameter value can be either a Client ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "location",
      "in": "query",
      "description": "Filter the list by Location. The parameter value can be either a Location ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "success",
      "in": "query",
      "description": "Filter the list by success indicator.",
      "schema": {
       "type": "boolean",
       "enum": [
        true,
        false
       ]
      }
     },
     {
      "name": "dateFrom",
      "in": "query",
      "description": "Filter the list by transaction date. Only show transactions that were processed after this date.",
      "schema": {
       "type": "string",
       "format": "datetime"
      }
     },
     {
      "name": "dateTo",
      "in": "query",
      "description": "Filter the list by transaction date. Only show transactions that were processed before this date.",
      "schema": {
       "type": "string",
       "format": "datetime"
      }
     },
     {
      "name": "messageId",
      "in": "query",
      "description": "Filter the list by Message ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "clientRef",
      "in": "query",
      "description": "Filter the list by the ClientRef ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "serialNumber",
      "in": "query",
      "description": "Filter the list by Device serial number.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "reference",
      "in": "query",
      "description": "Filter the list by Reference ID.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     },
     {
      "name": "paging.mode",
      "in": "query",
      "description": "Toggles the total count in the response.",
      "schema": {
       "type": "string",
       "default": "nocount",
       "enum": [
        "nocount",
        "full"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Transactions list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TransactionList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Transactions"
    ],
    "summary": "Create a Transaction",
    "description": "This endpoint creates a Transaction. It should only be used when decryption activity occurs outside of the Decryptx platform. Certain Partners may operate their own Validated P2PE decryption environment (Domain 5). This allows the partner to journal their decryption activity into the P2PE Manager, allowing the Partner to utilize the P2PE Manager for their device management and chain of custody. The Partner's Client can still benefit from the device management, chain of custody, and historical decryption activity even when decryptions occur outside of the Decryptx system.",
    "operationId": "create-transaction",
    "requestBody": {
     "description": "Transaction to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/TransactionCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Transaction create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "transaction"
   }
  },
  "/transactions/{id}": {
   "get": {
    "tags": [
     "Transactions"
    ],
    "summary": "Get a single Transaction",
    "description": "Return information about a specific decryption record.",
    "operationId": "get-transaction",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Transaction's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Transaction details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TransactionDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Transactions"
    ],
    "summary": "Update a Transaction",
    "description": "This endpoint updates an existing Transaction resource.",
    "operationId": "update-transaction",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Transaction's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Transaction to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/TransactionUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Transaction update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "transaction"
   }
  },
  "/devices": {
   "get": {
    "tags": [
     "Devices"
    ],
    "summary": "List all Devices",
    "description": "This endpoint returns a list of Devices. This endpoint can be returned. Some Devices will only appear for certain types of Users if they are in a particular state. For example, when a KIF user makes this API call, a Device will be included in the response list if its deviceState is set to *'Unassigned'*, *'Assigned'*, or *'Injected'*. Once it is received by the merchant and its deviceState is set to *'Stored'* or *'Activating'*, the Device will no longer appear on the GET all devices response for the KIF user.\n\nThe list of Devices can be filtered by the Partner, Client, KIF, and the Device's state. Use the *'skip'* and *'take'* parameters to implement pagination.",
    "operationId": "list-devices",
    "parameters": [
     {
      "name": "partner",
      "in": "query",
      "description": "Filter the list by Partner. The parameter value can be either a Partner ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "client",
      "in": "query",
      "description": "Filter the list by Client. The parameter value can be either a Client ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "kif",
      "in": "query",
      "description": "Filter the list by KIF. The parameter value can be either a KIF ID or Name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "serialNumber",
      "in": "query",
      "description": "Filter the list by a comma separated list of serial numbers.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deviceState",
      "in": "query",
      "description": "Filter the list by Device State.",
      "schema": {
       "type": "string",
       "enum": [
        "new",
        "injected",
        "inTransit",
        "damaged",
        "retired",
        "destroyed",
        "tampered",
        "malfunctioning",
        "lost",
        "stored",
        "quarantined",
        "doa",
        "inRepair",
        "tamperedP2PE",
        "activating",
        "activated",
        "assigned",
        "unassigned",
        "rma"
       ]
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the list.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     },
     {
      "name": "sorting.field",
      "in": "query",
      "description": "The field to order the Device list.",
      "schema": {
       "type": "string",
       "default": "serialnumber",
       "enum": [
        "id",
        "version",
        "created",
        "modified",
        "serialnumber",
        "alternatekey",
        "name",
        "devicetype",
        "devicestate",
        "location.id",
        "location.name",
        "activationdate",
        "partner.id",
        "partner.name",
        "client.id",
        "client.name",
        "kif.id",
        "kif.name"
       ]
      }
     },
     {
      "name": "sorting.direction",
      "in": "query",
      "description": "The direction to sort the Device list.",
      "schema": {
       "type": "string",
       "default": "asc",
       "enum": [
        "asc",
        "desc"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "Devices"
    ],
    "summary": "Create a Device",
    "description": "This endpoint creates a Device. Due to the chain-of-custody rules Devices are typically created by the KIF user. The serial number of the device, the device type, the Partner, the Client, the injection key, and the firmware can be specified at device creation.",
    "operationId": "create-device",
    "requestBody": {
     "description": "Device to be created.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/DeviceCreate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Device create response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CreateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "device"
   }
  },
  "/devices/{serialNumber}/{deviceType}": {
   "get": {
    "tags": [
     "Devices"
    ],
    "summary": "Get a Device by Serial & Type",
    "description": "This endpoint returns a single Device by the serial number and type.",
    "operationId": "get-device-by-serial-type",
    "parameters": [
     {
      "name": "serialNumber",
      "in": "path",
      "description": "The Device's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deviceType",
      "in": "path",
      "description": "The Device Type Name. Note - this value must be URL encoded.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/devices/{id}": {
   "get": {
    "tags": [
     "Devices"
    ],
    "summary": "Get a Device by ID",
    "description": "This endpoint returns a single Device.",
    "operationId": "get-device",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Device's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "patch": {
    "tags": [
     "Devices"
    ],
    "summary": "Update a Device",
    "description": "This endpoint updates an existing Device resource. It is not neccessary to include the complete replacement object in the API call; an object containing the properties that are to be changed will suffice. For example, this endpoint can be used to change a Device's state from 'injected' to 'inTransit'.",
    "operationId": "update-device",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Device's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Device to be updated.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/DeviceUpdate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Device update response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/UpdateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "device"
   }
  },
  "/devices/rki/activate": {
   "post": {
    "tags": [
     "Devices"
    ],
    "summary": "Activate RKI Devices",
    "description": "This endpoint activates RKI devices. The serial number of the device and matching device build must be provided.",
    "operationId": "activate-rki-device",
    "requestBody": {
     "description": "Device Activation Details.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/DeviceRkiActivate"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Device activation result",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceRkiActivateResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "device"
   }
  },
  "/devices/receive": {
   "post": {
    "tags": [
     "Devices"
    ],
    "summary": "Receive Devices",
    "description": "This endpoint is used to receive shipped devices. The serial number of the device and tamper label must be provided.",
    "operationId": "receive-device",
    "requestBody": {
     "description": "Device Shippment Details.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/DeviceReceive"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Device activation result",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceReceiveResult"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "device"
   }
  },
  "/injectKeys": {
   "get": {
    "tags": [
     "Inject Keys"
    ],
    "summary": "List all Inject Keys",
    "description": "This endpoint returns a summarised list of InjectKeys. The list will contain each Key's ID, name, is active and is P2PE status.",
    "operationId": "list-injectKeys",
    "responses": {
     "200": {
      "description": "Inject Keys list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InjectKeyList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/injectKeys/{id}": {
   "get": {
    "tags": [
     "Inject Keys"
    ],
    "summary": "Get a single Inject Key",
    "description": "This endpoint returns a single Inject Key.",
    "operationId": "get-injectKey",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Inject Key's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Inject Key details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InjectKeyDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/deviceTypes": {
   "get": {
    "tags": [
     "Device Types"
    ],
    "summary": "List all Device Types",
    "description": "This endpoint lists all Device Types.",
    "operationId": "list-deviceTypes",
    "responses": {
     "200": {
      "description": "Device Types list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceTypeList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/deviceTypes/{id}": {
   "get": {
    "tags": [
     "Device Types"
    ],
    "summary": "Get a single Device Type",
    "description": "This endpoint returns a single DeviceType. It is intended for use by KIFs or Partners that are using the P2PE Manager to identify the details of a device type to utilize for a specific device.",
    "operationId": "get-deviceType",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Device Type's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device Type details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceTypeDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/decryption": {
   "post": {
    "tags": [
     "Decryption"
    ],
    "summary": "Proxy for decryption api.",
    "description": "This endpoint decrypts incoming data via the decryption apis.",
    "operationId": "decrypt-data",
    "requestBody": {
     "description": "Data to be decrypted.",
     "content": {
      "*/*": {
       "schema": {
        "$ref": "#/components/schemas/DecryptionRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Decryption response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DecryptionResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    },
    "x-codegen-request-body-name": "data"
   }
  },
  "/deviceBuilds": {
   "get": {
    "tags": [
     "Device Builds"
    ],
    "summary": "List device builds.",
    "description": "This endpoint returns a list of device build names and their ID.",
    "operationId": "list-deviceBuilds",
    "parameters": [
     {
      "name": "deviceType",
      "in": "query",
      "description": "Filter by Device Type. The parameter value must be the Device Type name, Device Type ID is not supported.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the response.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing entries.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device Builds list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceBuildList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/deviceBuilds/{id}": {
   "get": {
    "tags": [
     "Device Builds"
    ],
    "summary": "List a single Device Build",
    "description": "This endpoint returns an object that contains all the Device Build's details.",
    "operationId": "get-deviceBuild",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Device Build's unique identifier.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device Build details",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceBuildDetails"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorNotFound"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   }
  },
  "/devices/{serialNumber}/{deviceType}/custody": {
   "get": {
    "tags": [
     "Device Custody"
    ],
    "summary": "List a Device's Custody entries.",
    "description": "This endpoint returns a list of device's custody entries for a single device. The device serial numuber and type must be specified in the path.",
    "operationId": "list-custody",
    "parameters": [
     {
      "name": "serialNumber",
      "in": "path",
      "description": "Device serial number.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "deviceType",
      "in": "path",
      "description": "Device type name.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "take",
      "in": "query",
      "description": "The number of entries to include in the response.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     },
     {
      "name": "skip",
      "in": "query",
      "description": "The number of results to skip before listing the remainder.",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 0
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Device Custody list",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/DeviceCustodyList"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorUnauthorized"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorForbidden"
        }
       }
      }
     },
     "409": {
      "description": "Invalid data",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorValidation"
        }
       }
      }
     },
     "500": {
      "description": "Internal server error",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ErrorServer"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
[...]
